<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Selam</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Kaydet</button>
    </form>
    
</body>
</html>